body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.question {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

/* Styles pour les boutons de navigation */
#navigation-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 20px auto;
}

#prev-btn,
#next-btn {
    display: block;
    width: 48%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

#prev-btn:hover,
#next-btn:hover {
    background-color: darkblue;
}

#submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#submit-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

#submit-btn:hover {
    background-color: darkblue;
}
